<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c360app.ejerciciosnuevoyo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjerciciosNuevoYo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Triceps"
            android:exported="false"
            android:label="Tríceps" />
        <activity
            android:name=".Biceps"
            android:exported="false"
            android:label="Bíceps" />
        <activity
            android:name=".Hombros"
            android:exported="false"
            android:label="Hombros" />
        <activity
            android:name=".Abdomen"
            android:exported="false"
            android:label="Abdomen" />
        <activity
            android:name=".EspaldaBaja"
            android:exported="false"
            android:label="Espalda baja (lumbar)" />
        <activity
            android:name=".Pantorrilla"
            android:exported="false"
            android:label="Pantorrillas" />
        <activity
            android:name=".Muslos"
            android:exported="false"
            android:label="Muslos" />
        <activity
            android:name=".EspaldaAlta"
            android:exported="false"
            android:label="Espalda alta (dorsales)" />
        <activity
            android:name=".Pectorales"
            android:exported="false"
            android:label="Pectorales" />
        <activity
            android:name=".VariantesGrupoMuscular"
            android:exported="false"
            android:label="Variantes por grupo muscular" />
        <activity
            android:name=".Rutinas"
            android:exported="false"
            android:label="Rutinas" />
        <activity
            android:name=".IntegracionAerobicoFuerza"
            android:exported="false"
            android:label="@string/act_integracion" />
        <activity
            android:name=".InstruccionesGenerales"
            android:exported="false"
            android:label="@string/act_instrucciones" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LanzadorNuevoYo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>